/* font */
@import 'https://fonts.googleapis.com/css?family=Yatra+One';

/* colors */
$title: #fff
$black: #000
$blue: #9de6f2

body
  background-image: url(../images/bg.png)

.forms
  width: 50%  
  margin: 0 auto
    
  .title
    /* font properties */
    font-family: 'Yatra One', cursiva
    letter-spacing: 5px
    font-size: 3em
    
    /* style */
    color: $title; 
    text-shadow: 2px 2px 2px lighten($black, 50%), 4px 4px 2px $title 

    /* others */
    text-align: center

  .form-1 
    background-color: $blue
